[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "clip"]
	path = clip
	url = https://github.com/dacap/clip.git
[submodule "tests/test_lib"]
	path = tests/test_lib
	url = https://github.com/Foxclip/cpp-test-lib.git
[submodule "logger"]
	path = logger
	url = https://github.com/Foxclip/cpp-logger.git
